# go
vendor/*
app/log/*

# ios
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
Pods/
*.playground
UserInterfaceState.xcuserstate
GoogleService-Info.plist

# Etc
.DS_Store
.idea/
eventory.iml
