<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104890656153-fubk40d4nd596ivkfhg7su89kvhu5k4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104890656153-fubk40d4nd596ivkfhg7su89kvhu5k4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDmvL_MuvWR45-s04VBXjNvDaeWQ6FbOVY</string>
	<key>GCM_SENDER_ID</key>
	<string>104890656153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chikamory.Eventory</string>
	<key>PROJECT_ID</key>
	<string>eventory-8a068</string>
	<key>STORAGE_BUCKET</key>
	<string>eventory-8a068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:104890656153:ios:9f2def5d32e78e63</string>
	<key>DATABASE_URL</key>
	<string>https://eventory-8a068.firebaseio.com</string>
</dict>
</plist>